*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: white;
  text-decoration: none;
}
.header{
  display: block;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  padding: 1rem;
}
.logo{
  font-size: 1.5rem;
  font-weight: bold;
}
i#burguer{
  background-color: rgba(105, 151, 181, 0.357);
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
}
i#burguer:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
nav{
  display: none;
}
nav > ul{
  list-style-type: none;
}
nav > ul > li > a{
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(1, 8, 74);
  color: white;
  border-top: 2px soli rgb(106, 121, 171);
}
nav > ul > li > a:hover{
  background-color: rgb(86, 93, 98);
}
@media screen and (min-width: 768px){
  i#burguer{
    display: none;
  }
  nav{
    display: block;
  }
  nav > ul > li{
    display: inline-block;
    
  }
  
  
  
}